extends layout

block content
  if posts
    each post, i in posts
      .post
        h1
        a(href='post/show/#{post._id}')
          =post.title
      p.meta Posted in 
        a(href='/categories/show/#{post.category}') #{post.category} 
        By #{post.author} on #{moment(post.date).format('YYYY-MM-DD')}
      img(src="/#{post.mainimage}", alt="")
      !=truncateText(post.body,300)
      a.more(href='posts/show/#{post._id}') Read More